/.vs/slnx.sqlite
/HackerNews/.vs/HackerNews/v15/Server/sqlite3/storage.ide-shm
/HackerNews/.vs/HackerNews/v15/Server/sqlite3/storage.ide-wal
/HackerNews/.vs/HackerNews/v15/.suo
/HackerNews/.vs/HackerNews/v15/Server/sqlite3/storage.ide
/HackerNews/HackerNews/bin/HackerNews.dll.config
/HackerNews/HackerNews/bin/HackerNews.pdb
/HackerNews/HackerNews/obj/Debug/HackerNews.dll
/HackerNews/HackerNews/obj/Debug/HackerNews.pdb
/HackerNews/HackerNews/obj/Release/CSAutoParameterize/original/Web.config
/HackerNews/HackerNews/obj/Release/CSAutoParameterize/transformed/Web.config
/HackerNews/HackerNews/obj/Release/HackerNews.dll
/HackerNews/HackerNews/obj/Release/HackerNews.pdb
/HackerNews/HackerNews/obj/Release/Package/PackageTmp/Web.config
/HackerNews/HackerNews/obj/Release/Package/PackageTmp/bin/HackerNews.dll
/HackerNews/HackerNews/obj/Release/Package/PackageTmp/bin/HackerNews.pdb
/HackerNews/HackerNews/obj/Release/TransformWebConfig/original/Web.config
/HackerNews/HackerNews/obj/Release/TransformWebConfig/transformed/Web.config
