@{
    ViewBag.Title = "Application Test";
}

<div class="row">
    <h2>Top News Stories</h2>
    <p>Updated at <time id="timeId"></time></p>
</div>

<div class="row form-inline" style="margin-bottom: 10px;margin-top: 10px;">
    <label>Filter results by</label>
    <input class="form-control" type="text" id="searchTextId" />
    <button class="form-control btn btn-info" type="button" id="searchButtonId">Search</button>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Position</td>
                <td>Author</td>
                <td>Title</td>
                <td>Url</td>
            </tr>
        </thead>
        <tbody id="topNewsBodyId"></tbody>
    </table>
</div>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/HackerNews.js"></script>

<script type="text/javascript">
    $(function () {
        const handler = new HackerNews();
    });
</script>